* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}

.body-container {
  max-width: 90%;
  padding: 0 15px;
  margin: 0 auto;
  text-decoration: none;
  @media (min-width: 595px) {
  
  }
  @media (max-width: 600px) {
  
  }
  @media (max-width: 768px) {
    
  }
  @media (max-width: 889px) {
    
  }
  @media (max-width: 1200px) {
    max-width: 868px;
  }
  @media (max-width: 1400px) {
    max-width: 1380px;
  }
  @media (max-width: 1900px) {
    max-width: 1440px;
  }
}