$color-bg-gray-dark: rgb(41, 42, 48);
$color-bg-gray: rgb(84, 84, 87);
$color-bg-gray-light: rgb(167, 167, 167);
$color-text-white: rgb(255, 255, 255);
$color-text-gray: RGBA(222, 214, 214, 0.931);
$color-logo-blue: rgb(92, 198, 246);
$color-status-none: rgb(141, 141, 141);
$color-status-success: rgb(26, 193, 62);
$color-status-error: rgb(234, 33, 62);
