@import 'public/styles/vars';

.set-city {
  background-color: $color-bg-gray;
  border-radius: 6px;
  color: $color-text-white;
  display: flex;
  justify-content: left;
  max-width: 200px;
  padding: 5px 5px;
  position: relative;
  width: fit-content;

  &:hover {
    cursor: pointer;
  }

  &__icon {
    height: 20px;
    margin-right: 5px;
    width: 20px;
  }

  &__name {
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
