@import 'public/styles/vars';

.set-city__modal {
  -webkit-box-shadow: -10px 0px 13px -7px $color-logo-blue, 10px 0px 13px -7px $color-logo-blue,
    5px 5px 15px 5px rgba(18, 168, 255, 0);
  background-color: $color-bg-gray;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: -10px 0px 13px -7px $color-logo-blue, 10px 0px 13px -7px $color-logo-blue,
    5px 5px 15px 5px rgba(18, 168, 255, 0);
  height: 170px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 350px;
}

.modal-error__message {
  color: #ff7a7a;
  font-size: 18px;
  font-weight: bold;
}

.modal-title {
  color: $color-text-white;
  font-size: 17px;
  margin-bottom: 10px;
}

.modal-close-btn {
  color: $color-text-white;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 10px;
}

.ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 1000;
}
