@import 'public/styles/_vars';

.item {
  background: gray;
  border: 1px solid $color-bg-gray;
  border-radius: 7px;
  color: $color-text-white;
  display: flex;
  flex-direction: column;
  margin: 0 20px 20px 0;
  max-width: 230px;
  min-width: 250px;
  padding: 10px;

  &__header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  &__city {
    margin: 0;
    overflow: hidden;
    padding: 0 0 10px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__title {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: $color-text-white;
    display: -webkit-box;
    margin: 10px 0 10px 0;
    overflow: hidden;
    text-decoration: none;
  }

  &__description {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    color: $color-text-gray;
    display: -webkit-box;
    margin: 0;
    overflow: hidden;
    text-decoration: none;
  }

  &__title:hover {
    text-decoration: underline;
  }

  &__photo > img,
  source {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }
}

.item:hover {
  -webkit-box-shadow: -10px 0px 13px -7px $color-logo-blue, 10px 0px 13px -7px $color-logo-blue,
    5px 5px 15px 5px rgba(18, 168, 255, 0);
  box-shadow: -10px 0px 13px -7px $color-logo-blue, 10px 0px 13px -7px $color-logo-blue,
    5px 5px 15px 5px rgba(18, 168, 255, 0);
}

a {
  text-decoration: none;
}

p,
h2,
h3 {
  margin: 0;
  padding: 0;
}
