@import 'https://unpkg.com/leaflet@1.8.0/dist/leaflet.css';
@import 'https://unpkg.com/react-leaflet-markercluster/dist/styles.min.css';
@import 'public/styles/vars';
// NOTE: styles are included via {<link />} tag at {index.html}
//@import "~leaflet/dist/leaflet.css";
//@import "~react-leaflet-markercluster/dist/styles.min.css";

.markercluster-map {
  height: 90vh;
}
.leaflet-container {
  height: 85vh;
  margin: 20px auto 20px auto;
  position: relative;
  width: 1700px;

  @media (min-width: 595px) {
  }
  @media (max-width: 600px) {
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 889px) {
  }
  @media (max-width: 1200px) {
    max-width: 600px;
  }
  @media (max-width: 1400px) {
    width: 70%;
  }
  @media (max-width: 1900px) {
    max-width: 1200px;
  }
}

.my-position-button {
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 400;

  @media (max-width: 1400px) {
    bottom: 10px;
    height: fit-content;
    left: 50%;
    position: absolute;
    top: 98%;
    transform: translate(-50%, -98%);
    width: fit-content;
  }
}
